.main {
    background-color: orange;
    width: auto;
    height: 200px;
}
.main > div {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin-right: 30px;
}   
.html {
    background-color: aqua;
}
.css {
    background-color: green;
}
.js {
    background-color: red;
}