.fruits span:first-child {
    color: blue;
}
.fruits h3:last-child {
    color: orange;
}
.fruits *:nth-child(2n) {
    color: red;
}
.fruits *:nth-child(2n+1) {
    color: aqua;
}
.fruits *:not(span) {
    color: green;
}